# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Notebooks
notebooks/cache_dir
notebooks/.ipynb_checkpoints
notebooks/wandb
notebooks/pythia*

# Experiments
experiments/checkpoints/
experiments/experiment_logs/
*.pt
*.bin

# Data
data/raw/
data/processed/
*.json
src/data/.*

# Evals
src/evals/benchmark_output
src/evals/prod_env/credentials.conf
src/evals/prod_env/cache

# IDE
.vscode/
.idea/

