model_deployments:
  - name: huggingface/pythia-70m-dpo-no-bias
    model_name: woon/pythia-70m-dpo-no-bias
    tokenizer_name: EleutherAI/gpt-neox-20b
    max_sequence_length: 2048
    client_spec:
      class_name: "helm.clients.huggingface_client.HuggingFaceClient"
      args:
        pretrained_model_name_or_path: /home/wyn23/l101/notebooks/pythia-70m-deduped-DPO/checkpoint-20
